<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NatureNetApplication.Properties.Settings.NatureNetDataBase_MainConnectionString"
            connectionString="Data Source=|DataDirectory|\NatureNetDataBase_Main.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>